/* Typography styles */

/* Font size utility classes */
.font-size-s1 {
  font-size: clamp(2rem, 16vmin, 7rem);
}

.font-size-s2 {
  font-size: clamp(1.5rem, 12vmin, 2.5rem);
}

.font-size-s3 {
  font-size: clamp(1.25rem, 8vmin, 2rem);
}

.font-size-s4 {
  font-size: clamp(1.1rem, 4vmin, 1.5rem);
}

.font-size-s5 {
  font-size: clamp(1rem, 2.5vmin, 1.25rem);
}

/* Header styles */
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: clamp(2rem, 16vmin, 7rem);
  line-height: 1;
}

h2 {
  font-size: clamp(1.5rem, 12vmin, 2.5rem);
  line-height: 1.1;
}

h3 {
  font-size: clamp(1.25rem, 8vmin, 2rem);
  line-height: 1.2;
}

h4 {
  font-size: clamp(1.1rem, 4vmin, 1.5rem);
  line-height: 1.3;
}

h5 {
  font-size: clamp(1rem, 2.5vmin, 1.25rem);
  line-height: 1.4;
}

/* Link styles */
a {
  color: #d24b7b;
}

/* Focus styles */
*:focus {
  box-shadow: 0 0 0 0.2rem var(--orange-focus);
}
