.style {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  min-height: 100vh;
}

.navnelinje {
  display: flex;
  align-items: center;
}

.navnelinje h1 {
  font-weight: 300;
}

.portrett {
  border-radius: 50%;
  margin-right: 2rem;
}

.bio {
  margin: 1rem 0;
}

.innlegg {
  margin: 2rem 0 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

@media (max-width: 40em) {
  .innlegg {
    grid-template-columns: 1fr;
  }
}

.styledH2 {
  font-weight: 400;
  margin: 4rem 0 2rem;
}
