.container {
  display: flex;
  flex-direction: column;
}

.container > * {
  max-width: 100%;
}

.coloredLine {
  --background-color: var(--pride-color);
  background-color: var(--background-color);
  width: 100%;
  height: 2rem;
}
