.style {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 1rem;
  color: inherit !important;
}

.style .blogg {
  font-weight: 300;
  display: block;
  margin-left: 1em;
  margin-top: -0.35em;
  font-size: 1.5em;
}

.heading {
  font-weight: bold;
  font-size: 2em;
}
