.style {
  min-height: 100vh;
  padding: 4vmin 4vmin 30vmin;
  --content-max-width: 30rem;
  --layout-max-width: 50rem;
  max-width: var(--layout-max-width);
  margin: 0 auto;
}

.style > * {
  margin-left: auto;
  margin-right: auto;
}

.h1 {
  margin-top: calc(2rem + 3vmin);
  margin-bottom: calc(1.5rem + 2vmin);
  font-size: clamp(1.5rem, 12vmin, 2.5rem);
  overflow-wrap: break-word;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .h1 {
    hyphens: auto;
  }
}

.h2 {
  margin-top: calc(2rem + 3vmin);
  margin-bottom: calc(1.5rem + 2vmin);
  font-size: clamp(1.25rem, 8vmin, 2.15rem);
}

.ingress {
  width: 100%;
  font-size: 1.1rem;
  margin-bottom: calc(2rem + 3vmin);
}
