.consentBannerRoot {
  position: relative;
  z-index: 10;
  background-color: #32414f;
  display: flex;
  padding: 3rem 4rem;
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.consentBannerSection {
  color: white;
  max-width: 1920px;
  margin: 0 auto;
}

.consentBannerSection button {
  margin: 0;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  text-decoration: none;
  background: white;
  font-size: 0.8rem;
}

.consentBannerSection button:hover,
.consentBannerSection button:focus {
  text-decoration: underline;
}

.consentBannerButtonRow {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}
