name: Importer stillinger til Sanity
on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v1
      with:
        node-version: 16
    - run: npm install
    - run: SANITY_TOKEN=${SANITY_TOKEN} npx ts-node ./sanity/utils/stillinger.ts
      env:
        SANITY_TOKEN: ${{ secrets.SANITY_TOKEN }}